In [50]:
import requests
from io import StringIO
import matplotlib.pyplot as plt
import csv
import pandas as pd
import numpy as np

In [51]:
data = requests.get("https://raw.githubusercontent.com/allisol1/UMBC-CMSC631-Team6/refs/heads/main/ACS_5YR_Housing_Estimate_Data_by_County_2352642343660635057.csv")
df_h_full = pd.read_csv(StringIO(data.text))
data = requests.get("https://raw.githubusercontent.com/allisol1/UMBC-CMSC636-Team6/refs/heads/main/DD_ACS_5-Year_Housing_Estimate_Data_by_County.csv")
df_keys = pd.read_csv(StringIO(data.text))
data = requests.get("https://raw.githubusercontent.com/allisol1/UMBC-CMSC636-Team6/refs/heads/main/county_adjacency2024.txt")
df_adj = pd.read_csv(StringIO(data.text), sep='|')

In [52]:
df_adj
df_keys
df_h_full

,OBJECTID_1,GEOID,STATE,STUSAB,STATE_NAME,COUNTY,NAME,B25002EST1,B25002EST2,B25002EST2_PCT,...,B25123EST10,B25123EST10_PCT,B25123EST11,B25123EST11_PCT,B25123EST12,B25123EST12_PCT,B25123EST13,B25123EST13_PCT,Shape__Area,Shape__Length
0,1,2063,2,AK,Alaska,63,Chugach,3287,2310,70.28,...,45,7.26,1,0.16,0,0.00,362,58.39,1.048120e+11,1.135352e+07
1,2,2066,2,AK,Alaska,66,Copper River,2902,1063,36.63,...,11,4.30,6,2.34,0,0.00,166,64.84,2.925218e+11,3.013518e+06
2,3,2068,2,AK,Alaska,68,Denali,1664,726,43.63,...,22,17.74,0,0.00,7,5.65,40,32.26,1.661374e+11,2.084188e+06
3,4,2070,2,AK,Alaska,70,Dillingham,2462,1430,58.08,...,51,9.01,8,1.41,0,0.00,287,50.71,1.934547e+11,3.421842e+06
4,5,2090,2,AK,Alaska,90,Fairbanks North Star,44270,36199,81.77,...,845,5.68,528,3.55,16,0.11,7401,49.72,1.058398e+11,1.883222e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,3217,46057,46,SD,South Dakota,57,Hamlin,2920,2242,76.78,...,10,2.26,1,0.23,0,0.00,364,82.17,2.756067e+09,2.166601e+05
3217,3218,46059,46,SD,South Dakota,59,Hand,1795,1426,79.44,...,3,0.67,0,0.00,0,0.00,387,86.00,7.345406e+09,3.554394e+05
3218,3219,46061,46,SD,South Dakota,61,Hanson,1210,1039,85.87,...,0,0.00,0,0.00,0,0.00,102,80.31,2.156168e+09,1.876999e+05
3219,3220,46063,46,SD,South Dakota,63,Harding,711,516,72.57,...,0,0.00,0,0.00,0,0.00,170,95.51,1.415803e+10,4.781780e+05
3220,3221,46065,46,SD,South Dakota,65,Hughes,8041,7475,92.96,...,0,0.00,0,0.00,0,0.00,1366,62.12,4.061792e+09,3.425127e+05

In [55]:
df_h = df_h_full.loc[df_h_full['STATE_NAME'] == "Maryland",  ['GEOID', 'NAME', 'STUSAB','B25002EST1', 'B25002EST2', 'B25058EST1', 'B25032EST13']]
label = df_keys.loc[df_keys['Column Name'] == 'B25058EST1', 'Column Description']
df_h

,GEOID,NAME,STUSAB,B25002EST1,B25002EST2,B25058EST1,B25032EST13
918,24009,Calvert,MD,35421,32558,1275.0,4969
919,24011,Caroline,MD,13645,12160,742.0,3521
920,24013,Carroll,MD,63767,61261,953.0,10976
921,24015,Cecil,MD,42690,37293,949.0,9491
922,24017,Charles,MD,61226,57388,1503.0,13231
923,24019,Dorchester,MD,16754,13433,660.0,4365
924,24021,Frederick,MD,99179,94299,1280.0,22743
1044,24023,Garrett,MD,19428,12745,467.0,2638
1045,24025,Harford,MD,100952,95094,1117.0,19977
1046,24027,Howard,MD,120834,116457,1596.0,31771
1069,24029,Kent,MD,10687,8274,762.0,2546
1070,24031,Montgomery,MD,390475,372825,1672.0,128212
1071,24033,Prince George's,MD,334407,315634,1391.0,119521
1072,24035,Queen Anne's,MD,21363,19000,1326.0,3769
1073,24037,St. Mary's,MD,45867,41280,1246.0,12260
1074,24039,Somerset,MD,11476,8509,612.0,2902
1197,24041,Talbot,MD,20252,16810,937.0,4841
1198,24043,Washington,MD,61621,56367,783.0,18827
1199,24045,Wicomico,MD,42452,38142,848.0,15739
1200,24047,Worcester,MD,56485,22661,802.0,5506
1224,24510,Baltimore,MD,293936,242499,911.0,126752
1253,24001,Allegany,MD,32823,27369,562.0,8469
1375,24003,Anne Arundel,MD,226330,213122,1558.0,54702
1376,24005,Baltimore,MD,337580,315347,1170.0,106971

In [58]:
df_h['PCT_RENTER'] = (df_h['B25032EST13'] / df_h['B25002EST2']) * 100
df_h

,GEOID,NAME,STUSAB,B25002EST1,B25002EST2,B25058EST1,B25032EST13,PCT_RENTER
918,24009,Calvert,MD,35421,32558,1275.0,4969,15.261994
919,24011,Caroline,MD,13645,12160,742.0,3521,28.955592
920,24013,Carroll,MD,63767,61261,953.0,10976,17.916782
921,24015,Cecil,MD,42690,37293,949.0,9491,25.449816
922,24017,Charles,MD,61226,57388,1503.0,13231,23.055343
923,24019,Dorchester,MD,16754,13433,660.0,4365,32.494603
924,24021,Frederick,MD,99179,94299,1280.0,22743,24.117965
1044,24023,Garrett,MD,19428,12745,467.0,2638,20.698313
1045,24025,Harford,MD,100952,95094,1117.0,19977,21.007635
1046,24027,Howard,MD,120834,116457,1596.0,31771,27.281314
1069,24029,Kent,MD,10687,8274,762.0,2546,30.771090
1070,24031,Montgomery,MD,390475,372825,1672.0,128212,34.389325
1071,24033,Prince George's,MD,334407,315634,1391.0,119521,37.866960
1072,24035,Queen Anne's,MD,21363,19000,1326.0,3769,19.836842
1073,24037,St. Mary's,MD,45867,41280,1246.0,12260,29.699612
1074,24039,Somerset,MD,11476,8509,612.0,2902,34.105065
1197,24041,Talbot,MD,20252,16810,937.0,4841,28.798334
1198,24043,Washington,MD,61621,56367,783.0,18827,33.400749
1199,24045,Wicomico,MD,42452,38142,848.0,15739,41.264223
1200,24047,Worcester,MD,56485,22661,802.0,5506,24.297251
1224,24510,Baltimore,MD,293936,242499,911.0,126752,52.269082
1253,24001,Allegany,MD,32823,27369,562.0,8469,30.943768
1375,24003,Anne Arundel,MD,226330,213122,1558.0,54702,25.666989
1376,24005,Baltimore,MD,337580,315347,1170.0,106971,33.921680

In [ ]:
df_adj2 = pd.merge(df_adj, df_h[['GEOID', 'B25058EST1']], left_on = ['Neighbor GEOID'], right_on = ['GEOID'], how = 'inner') #join median rent on neightbor geoid
avg_neighbor_med_rent = df_adj2.groupby('County GEOID')['B25058EST1'].agg('mean').rename('AVG_NEIGHBOR_MED_RENT') #average the neighbor median rent on county geoid
pd.merge(df_h, avg_neighbor_med_rent, left_on='GEOID', right_on='County GEOID') #add new column back to main dataframe

,GEOID,NAME,STUSAB,B25002EST1,B25002EST2,B25058EST1,AVG_NEIGHBOR_B25058EST1
0,24009,Calvert,MD,35421,32558,1275.0,1224.285714
1,24011,Caroline,MD,13645,12160,742.0,916.250000
2,24013,Carroll,MD,63767,61261,953.0,1249.750000
3,24015,Cecil,MD,42690,37293,949.0,942.666667
4,24017,Charles,MD,61226,57388,1503.0,1353.750000
5,24019,Dorchester,MD,16754,13433,660.0,902.857143
6,24021,Frederick,MD,99179,94299,1280.0,1256.800000
7,24023,Garrett,MD,19428,12745,467.0,514.500000
8,24025,Harford,MD,100952,95094,1117.0,999.500000
9,24027,Howard,MD,120834,116457,1596.0,1374.285714
10,24029,Kent,MD,10687,8274,762.0,1147.000000
11,24031,Montgomery,MD,390475,372825,1672.0,1484.750000
12,24033,Prince George's,MD,334407,315634,1391.0,1499.166667
13,24035,Queen Anne's,MD,21363,19000,1326.0,1065.000000
14,24037,St. Mary's,MD,45867,41280,1246.0,1059.200000
15,24039,Somerset,MD,11476,8509,612.0,833.600000
16,24041,Talbot,MD,20252,16810,937.0,1083.000000
17,24043,Washington,MD,61621,56367,783.0,875.000000
18,24045,Wicomico,MD,42452,38142,848.0,730.500000
19,24047,Worcester,MD,56485,22661,802.0,754.000000
20,24510,Baltimore,MD,293936,242499,911.0,1213.000000
21,24001,Allegany,MD,32823,27369,562.0,604.000000
22,24003,Anne Arundel,MD,226330,213122,1558.0,1214.000000
23,24005,Baltimore,MD,337580,315347,1170.0,1152.428571